* {
    margin: 0;
    padding: 0;
    margin-top: 0;
}

header {
    padding-bottom: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

article {
    text-align: center;
    width: 1200px;
}
textarea {
    max-width: 300px;
    max-height: 500px;
}

input {
    display: inline-block;
}

aside {
    width: 166px;
    text-align: center;
    float: right;
    margin-top: -385px;
    height: 534px;
}
