* {
    margin: 0;
    padding: 0;
    margin-top: 0;
}

header {
    padding-bottom: 20px;
    text-align: center;
    margin-top: 0;
}

nav {
    display: flex;
    justify-content: space-around;
}

article {
    text-align: center;
    width: 1200px;
}

textarea {
    max-width: 300px;
    max-height: 400px;
}

input {
    display: inline-block;
}

aside {
    width: 166px;
    float: right;
    margin-top: -385px;
    height: 516px;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 131px;
}

.a_nav {
    text-decoration: none;
    color: #444;
}

.a_nav:hover {
    text-decoration: underline;
    color: #00d;
}

h1 {
    margin-top: 0;
}

#input_circular:hover {
    border-radius: 25%;
}

.canales {
    color: #000;
    text-decoration: none;
}

.canales:hover {
    text-decoration: underline;
    color: #666
}

.box {
    position: relative;
    display: inline-block;
    width: 395px;
    height: 395px;
    border: 3px solid #000;
}

.box__position {
    position: absolute;
    text-align: center;
    width: 125px;
    height: 125px;
    background-color: #e42;
}

.box__position:nth-child(2) {
    bottom: 0;
    background-color: #48e;
}

.box__position:nth-child(3) {
    right: 0;
    background-color: #ff0;
}

.box__position:nth-child(4) {
    bottom: 0;
    right: 0;
    background-color: #00d;
}

.box__position:last-child {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #000;
}

.position__text {
    color: #fff;
}
